.nadpis{
    color: blue;
    text-align: center;
}
.vyber{
    width: 10%;
}
.a{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
#kvadrimg{
      width: 60%;
      padding-top: 30px;
      
  }
#krychleimg{
      width: 70%;
      padding-left: 50px;
  }
#homeimg{
      width: 70%;
      padding-top: 30px;
  }
#jehlanimg{
      width: 110%;
      padding-top: 10px;
  }
  #kouleimg{
    width: 95%;
    padding-top: 10px;
}
#odstavec{
      font-size: 39px;
  }
h2{
      font-size: 50px;
  }
.formular{
      background-color: rgb(114, 108, 108);
      color: white;
      text-align: center;
      padding: 50px;
        }
#povrchpadd{
    padding-left: 50px;
}
#vypis{
    text-align: center;
}
.padd{
  padding-bottom: 20px;
}
.upraveni{
  padding-left: 150px;
}
